@font-face {
    font-family: 'IMD Grotesk';
    src: url('../fonts/imd-grotesk/IMDGrotesk-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'IMD Grotesk';
    src: url('../fonts/imd-grotesk/IMDGrotesk-ExtraBold.woff2') format('woff2');
    font-weight: extra-bold;
    font-style: normal;
}